/*-----------------------------------------------
Theme: Kigl - Coming Soon Animated Mega Pack
Version 1.0
Author: EXSYthemes
-----------------------------------------------
1. BODY
2. CONTENT
  - 2.1. Section Coming Soon
  - 2.2. Social style
4. RESPONSIVE
-----------------------------------------------
-----------------------------------------------*/

@charset "UTF-8";

/***********************************
			/* 1. BODY */
/***********************************/

* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  background: #212121;
  font-size: 14px;
  line-height: 1;
}

label {
  cursor: pointer;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: #000;
}

input, select, button, textarea {
  margin: 0;
  font-size: 100%;
}

html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

button {
  border: none;
  padding: 0;
  font-size: 0;
  line-height: 0;
  background: none;
  cursor: pointer;
}

:focus {
  outline: 0;
}

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

/***********************************
			/* 1. END BODY */
/***********************************/

/***********************************
			/* 2. CONTENT */
/***********************************/
/* 2.1. Section Coming Soon */

.comingsoon {
  min-height: 100vh;
  position: relative;
  padding: 240px 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 20px;
}

.comingsoon__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.comingsoon__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.comingsoon__message {
  text-align: center;
  color: #ffffff;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 48px;
  padding-bottom: 70px;
  display: block;
  max-width: 960px;
  margin: 0 auto;
}

h1 span {
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  padding: 10px;
  display: inline-block;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 36px;
  display: block;
  padding-bottom: 10px;
  max-width: 960px;
  margin: 0 auto;
}

.message__text {
  font-family: 'Montserrat', sans-serif;
  line-height: 42px;
  font-size: 18px;
  padding: 0 60px;
  max-width: 920px;
  margin: auto;
}

.comingsoon__nav {
  max-width: 600px;
  margin: 20px auto 0;
  text-align: center;
}

.c-nav__form {
  position: relative;
  height: 45px;
  overflow: hidden;
  width: 400px;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #ffffff;
  padding-left: 10px;
  padding-right: 46px;
}

.c-nav__icon {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #cccccc;
  -webkit-transition: color .25s ease;
  transition: color .25s ease;
  cursor: pointer;
}

.c-nav__icon:hover {
  color: #fff;
}

.c-nav__subscribe {
  display: block;
  width: 100%;
  color: #ffffff;
  font-size: 11px;
  line-height: 45px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.c-nav__subscribe::-webkit-input-placeholder {
  color: #cccccc;
  -webkit-transition: color .25s ease;
  transition: color .25s ease;
}

.c-nav__subscribe:hover + .c-nav__icon,
.c-nav__subscribe:focus + .c-nav__icon, .c-nav__subscribe:focus::-webkit-input-placeholder, .c-nav__subscribe:hover::-webkit-input-placeholder {
  color: #ffffff;
}
/* 2.1. END Section Coming Soon */

/* jQuery Countdown styles 2.0.0. */
.countdown-allwrapp{
	width: 100%;
	float: left;
	margin-bottom: 70px;
}
.is-countdown {
	width: 600px;
	margin: 0 auto;
	position: relative;
	left: 5px;
}
.countdown-rtl {
	direction: rtl;
}
.countdown-holding span {
	color: #888;
	font-size: 21px;
}
.countdown-row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown-show1 .countdown-section {
	width: 98%;
}
.countdown-show2 .countdown-section {
	width: 48%;
}
.countdown-show3 .countdown-section {
	width: 32.5%;
}
.countdown-show4 .countdown-section {
	width: 24.5%;
}
.countdown-show5 .countdown-section {
	width: 19.5%;
}
.countdown-show6 .countdown-section {
	width: 16.25%;
}
.countdown-show7 .countdown-section {
	width: 14%;
}
.countdown-section {
	display: block;
	float: left;
	font-size: 26px;
  	font-family: 'Montserrat', sans-serif;
  	font-weight: 900;
	text-align: center;
}
.countdown-amount {
    font-size: 200%;
}
.countdown-period {
    display: block;
	font-size: 16px;
	font-weight: 300;
	padding-top: 10px;
}
.countdown-descr {
	display: block;
	width: 100%;
}


/* 2.2. Social style */
.comingsoon__social {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
}

.c-social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.c-social__icon {
  padding-bottom: 30px;
}

.c-social__icon:last-child {
  padding-bottom: 0;
}

.c-social__link {
  color: #fff;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  display: block;
}

.c-social__link:hover {
  opacity: .7;
}
/* 2.2. END Social style */

/* 2.3. Lamp */
.lamp {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  margin: 0px auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: center top;
  animation-timing-function: cubic-bezier(0.6, 0, 0.38, 1);
  animation: move 5.1s infinite;
}

@keyframes move {
  0% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(40deg);
  }
}

.cable {
  width: 4px;
  height: 200px;
  background: white;
}
.lamp__wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.cover {
  width: 200px;
  height: 80px;
  background: #EEEEEE;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: relative;
  z-index: 200;
}

.in-cover {
  width: 100%;
  max-width: 200px;
  height: 20px;
  border-radius: 100%;
  background: #AAA;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  bottom: -9px;
  z-index: 100;
}
.in-cover .bulb {
  width: 50px;
  height: 50px;
  background: #F5D76E;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -20px;
  margin: 0px auto;
}

.light {
  width: 200px;
  height: 0px;
  border-bottom: 900px solid rgba(100, 100, 100, 0.45);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 270px;
  margin: 0px auto;
  z-index: 1;
}
/* 2.3. END Lamp */
/***********************************
			/* 2. END CONTENT */
/***********************************/

/***********************************
			/* 3. RESPONSIVE */
/***********************************/
@media (max-width: 1400px) { 
  .lamp {
    zoom: .7;
  }
  .comingsoon__content {
    top: 55%;
  }
  h1 {
    font-size: 38px;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 48px;
  }
  .comingsoon__content {
    top: 55%;
  }
}
  
@media (max-width: 950px) {
  .lamp__wrap {
    max-height: 100vh;
    overflow: hidden;
    max-width: 100vw;
  }
  .comingsoon__social {
    bottom: 30px;
    top: auto;
    transform: none;
    width: 100%;
    position: absolute;
    left: 0;
  }
  .c-social__icon {
    display: inline-block;
    padding-right: 30px;
  }
  .c-social__icon:last-child {
    padding-right: 0;
  }
  .c-social__icon {
    padding-bottom: 0;
  }
}

@media (max-width: 650px) {
  body, html, {
    max-height: 100vh;
  }
   .comingsoon__content {
    position: static;
    margin: 0 auto;
    transform: none;
    padding-top: 300px;
  }
  .comingsoon {
    padding-top: 0;
    padding-bottom: 100px;
    height: 100vh;
  }
  h3{
  	font-size: 1.5rem;
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 36px;
    padding-bottom: 20px;
  }
  .message__text {
    font-size: 16px;
    line-height: 2;
    padding-right: 20px;
    padding-left: 20px;
  }
  .lamp {
    zoom: .45;
  }
  .comingsoon__content {
    padding-top: 120px;
  }
  .is-countdown {
	width: 100%;
	left: 0;
  }
  .c-nav__form {
	width: 240px;
  }
}

@media (max-width: 480px) {
  .c-nav__link, .c-nav__form {
    height: 38px;
    line-height: 36px;
  }
  .comingsoon__content {
    padding-top: 100px;
  }
  .light {
    top: 200px;
  }
  .cable {
    height: 120px;
  }
  h1 {
    font-size: 21px;
  }
  h1 span {
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    padding: 4px;
    display: inline-block;
  }
  .message__text {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
  }
  .comingsoon__nav {
    margin-top: 20px;
  }
  .c-nav__link {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .countdown-section {
    width: 25%;
  }
  .is-countdown {
	width: 100%;
	left: 0;
	font-size: 18px;
  }
  .countdown-holding span {
	font-size: 12px;
  }
  .countdown-amount {
    font-size: 25px;
  }
  .countdown-period {
	font-size: 12px;
  }
}

@media screen and (max-height: 485px) {
  .lamp {
    zoom: .4;
  }
  h1 {
    font-size: 21px;
  }
  .countdown-allwrapp {
  	margin-bottom: 20px;
  }
  .is-countdown {
    width: 100%;
    left: 0;
    font-size: 18px;
  }
  .countdown-allwrapp {
    margin-bottom: 20px;
  }
  .is-countdown span {
  	font-size: 18px;
  }
  .countdown-allwrapp {
  	max-width: 600px;
  	margin: 0 auto 60px;
  	float: none;
  }
  .cable {
  	height: 100px;
  }
  .light {
  	top: 170px;
  }
  .comingsoon__content {
    position: static;
    margin: 0 auto;
    transform: none;
    padding-top: 75px;
  }
  .comingsoon {
  	padding: 0;
  }
  h1 {
  	padding-bottom: 30px;
  }
  h3 {
  	font-size: 20px;
  }
  .message__text {
  	font-size: 15px;
  	line-height: 1.2;
  }
  h1 span {
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    padding: 4px;
    display: inline-block;
  }
}

@media screen and (max-height: 405px) {
  .lamp {
    zoom: 0.35;
  }
  .cable {
  	height: 50px;
  }
  .light {
  	top: 120px;
  }
  .comingsoon__content {
  	padding-top: 40px;
  }
  h1 {
  	padding-bottom: 15px;
  }
  .countdown-allwrapp {
  	margin-bottom: 40px;
  }
  .c-nav__link, .c-nav__form {
    height: 38px;
    line-height: 36px;
  }
  .c-nav__subscribe {
  	line-height: 38px;
  }
} 

@media screen and (max-height: 330px) {
  h1 {
    padding-bottom: 8px;
  }
}
/***********************************
			/* 3. END RESPONSIVE */
/***********************************/